In [83]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [84]:
# Read the CSV files into DataFrames.
# Reading the CSV files
athletic_sales_2020_df = pd.read_csv('athletic_sales_2020.csv')
athletic_sales_2021_df = pd.read_csv('athletic_sales_2020.csv')

In [85]:
# Display the 2020 sales DataFrame

print(athletic_sales_2020_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [86]:
# Display the 2021 sales DataFrame
print(athletic_sales_2021_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

#### Check the data types of each DataFrame

In [87]:
# Check the 2020 sales data types.

print(athletic_sales_2020_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [88]:
# Check the 2021 sales data types.
print(athletic_sales_2021_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [89]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

combined_df = pd.concat([athletic_sales_2021_df, athletic_sales_2021_df], axis=0)

# Resetting the index
combined_df.reset_index(drop=True, inplace=True)

# Displaying the first few rows of the combined DataFrame
print(combined_df.head())

# Checking the shape of the combined DataFrame
print(f"Combined DataFrame shape: {combined_df.shape}")

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet
Combined DataFrame shape: (2594, 12)

In [90]:
# Check if any values are null.
null_values = combined_df.isnull().sum()
print("Null values in each column:")
print(null_values)

# Displaying columns with any null values
print("\nColumns with any null values:")
print(null_values[null_values > 0])

Null values in each column:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

Columns with any null values:
Series([], dtype: int64)

In [91]:
# Check the data type of each column
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [92]:
# Convert the "invoice_date" to a datetime datatype

# Inspect a few entries in the invoice_date column to determine the date format
print(combined_df['invoice_date'].head())

# Convert invoice_date from object to datetime using the specified format
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

0    1/1/20
1    1/1/20
2    1/1/20
3    1/1/20
4    1/1/20
Name: invoice_date, dtype: object

C:\Users\dixon\AppData\Local\Temp\ipykernel_1552\248689564.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [93]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.dtypes)

# Displaying the first few rows of the DataFrame to verify the conversion
print(combined_df.head())

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732   2020-01-01  Northeast      New York
1  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3  Foot Locker      1185732   2020-01-01  Northeast      New York
4  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [94]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
grouped_df = combined_df.groupby(['region', 'state', 'city']).agg(
    Total_Products_Sold=('units_sold', 'sum')
).reset_index()

# Show the top 5 results.
grouped_df.head()

      region         state          city  Total_Products_Sold
0    Midwest     Minnesota   Minneapolis                40830
1  Northeast      New York      New York               223908
2  Northeast  Pennsylvania  Philadelphia                 6114
3      South         Texas       Houston               180644
4  Southeast       Florida         Miami               146270

#### Using `pivot_table`

In [95]:
# Creating a pivot table to show the number of products sold for each region, state, and city
pivot_table = pd.pivot_table(
    combined_df,
    values='units_sold',  
    index=['region', 'state', 'city'],
    aggfunc='sum'
).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
# Sorting the pivot table by "Total_Products_Sold" in descending order
pivot_table = pivot_table.sort_values(by='Total_Products_Sold',ascending=False)

# Show the top 5 results.
top_5_results = pivot_table.head(5)
print(top_5_results)

      region       state       city  Total_Products_Sold
1  Northeast    New York   New York               223908
3      South       Texas    Houston               180644
4  Southeast     Florida      Miami               146270
7       West      Nevada  Las Vegas               103662
8       West  Washington    Seattle                93222

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [96]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Group by 'Region', 'State', and 'City' and calculate sum of 'Total Sales'
grouped_df = combined_df.groupby(['region', 'state', 'city']).agg(
    Total_Sales=('total_sales', 'sum')
).reset_index()
# Rename the aggregated column to 'Total Sales'
grouped_df.rename(columns={'Total_Sales': 'Total Sales'}, inplace=True)

# Sort the results by 'Total Sales' descending and show the top 5
sorted_df = grouped_df.sort_values(by='Total Sales', ascending=False).head()


# Show the top 5 results.
print(sorted_df)

      region       state      city  Total Sales
1  Northeast    New York  New York     79602470
4  Southeast     Florida     Miami     63201726
8       West  Washington   Seattle     52661436
3      South       Texas   Houston     50913764
6       West    Colorado    Denver     41993072

#### Using `pivot_table`

In [97]:
# Show the total sales for the products sold for each region, state, and city.



# Create a pivot table to aggregate Total Sales by Region, State, and City
pivot_table = pd.pivot_table(combined_df, 
                             values='total_sales', 
                             index=['region', 'state', 'city'], 
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the pivot table by 'Total Sales' descending and show the top 5
sorted_pivot_df = pivot_table.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
print(sorted_pivot_df.head())

                               Total Sales
region    state      city
Northeast New York   New York     79602470
Southeast Florida    Miami        63201726
West      Washington Seattle      52661436
South     Texas      Houston      50913764
West      Colorado   Denver       41993072

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [98]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Group by 'Retailer', 'Region', 'State', and 'City' and sum 'Total Sales'
grouped_df = combined_df.groupby(['retailer', 'region', 'state', 'city']).agg(
    Total_Sales=('total_sales', 'sum')
).reset_index()

# Rename the 'Total Sales' column to 'Total Sales' (optional if needed)
grouped_df.rename(columns={'Total_Sales': 'Total Sales'}, inplace=True)

# Sort the results by 'Total Sales' descending and show the top 5
sorted_grouped_df = grouped_df.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
top_5_results = sorted_grouped_df.head(5)
print(top_5_results)

       retailer     region       state       city  Total Sales
1   Foot Locker  Northeast    New York   New York     50017136
17    West Gear       West  Washington    Seattle     49725350
15    West Gear       West    Colorado     Denver     41993072
16    West Gear       West      Nevada  Las Vegas     41717018
10      Walmart      South       Texas    Houston     38345990

#### Using `pivot_table`

In [99]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Create a pivot table to aggregate Total Sales by 'Retailer', 'Region', 'State', and 'City'
pivot_table = pd.pivot_table(combined_df,
                             values='total_sales',
                             index=['retailer', 'region', 'state', 'city'],
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Sort the pivot table by 'Total Sales' descending and show the top 5
sorted_pivot_table = pivot_table.sort_values(by='Total Sales', ascending=False)

# Show the top 5 results.
top_5_results = sorted_pivot_table.head(5)
print(top_5_results)

                                            Total Sales
retailer    region    state      city
Foot Locker Northeast New York   New York      50017136
West Gear   West      Washington Seattle       49725350
                      Colorado   Denver        41993072
                      Nevada     Las Vegas     41717018
Walmart     South     Texas      Houston       38345990

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [100]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_sales = combined_df[combined_df['product'].str.contains("Women's Athletic Footwear")]
print(womens_athletic_sales.head())

       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   2020-01-04  Northeast      New York
22  Foot Locker      1185732   2020-01-04  Northeast      New York
23  Foot Locker      1185732   2020-01-04  Northeast      New York
26    West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27    West Gear      1128299   2020-01-05  Northeast  Pennsylvania

            city                    product  price_per_unit  units_sold  \
21      New York  Women's Athletic Footwear              36         281
22      New York  Women's Athletic Footwear              41         247
23      New York  Women's Athletic Footwear              45         850
26  Philadelphia  Women's Athletic Footwear              45         300
27  Philadelphia  Women's Athletic Footwear              34          90

    total_sales  operating_profit sales_method
21        10116           3742.92       Outlet
22        10127           4658.42       Online
23       382500         133875.00     In-store
26       135000          47250.00       Outlet
27         3060           1254.60       Outlet

#### Using `groupby`

In [101]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_athletic_footwear = combined_df[combined_df['product'].str.contains("Women's Athletic Footwear")]


# Group by 'Retailer', 'Region', 'State', and 'City' and sum 'Units Sold'
grouped_df = womens_athletic_footwear.groupby(['retailer', 'region', 'state', 'city']).agg(
    Womens_Footwear_Units_Sold=('units_sold', 'sum')
).reset_index()

# Rename the 'Units Sold' column to 'Womens_Footwear_Units_Sold'
grouped_df.rename(columns={'Womens_Footwear_Units_Sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Sort the results by 'Womens_Footwear_Units_Sold' descending and show the top 5
sorted_grouped_df = grouped_df.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.
top_5_results = sorted_grouped_df.head(5)
print(top_5_results)

       retailer     region       state       city  Womens_Footwear_Units_Sold
1   Foot Locker  Northeast    New York   New York                       21992
8       Walmart      South       Texas    Houston                       17432
14    West Gear       West      Nevada  Las Vegas                       14154
15    West Gear       West  Washington    Seattle                       11618
13    West Gear       West    Colorado     Denver                       11394

#### Using `pivot_table`

In [102]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_athletic_footwear = combined_df[combined_df['product'].str.contains("Women's Athletic Footwear")]

# Create a pivot table to aggregate 'Units Sold' by 'Retailer', 'Region', 'State', and 'City'
pivot_table = pd.pivot_table(womens_athletic_footwear,
                             values='units_sold',
                             index=['retailer', 'region', 'state', 'city'],
                             aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)


# Sort the pivot table by 'Womens_Footwear_Units_Sold' descending and show the top 5
sorted_pivot_table = pivot_table.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.
top_5_results = sorted_pivot_table.head(5)
print(top_5_results)

                                            Womens_Footwear_Units_Sold
retailer    region    state      city
Foot Locker Northeast New York   New York                        21992
Walmart     South     Texas      Houston                         17432
West Gear   West      Nevada     Las Vegas                       14154
                      Washington Seattle                         11618
                      Colorado   Denver                          11394

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [108]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

pivot_table = pd.pivot_table(
    combined_df,
    values='total_sales',
    index='invoice_date',
    aggfunc='sum'
)
# Rename the total_sales column to make it clear
pivot_table.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)

# Display the pivot table
print(pivot_table)

              Total_Sales
invoice_date
2020-01-01        1690282
2020-01-02        1378820
2020-01-03        1265146
2020-01-04        1230160
2020-01-05        1415658
...                   ...
2020-12-26        1121956
2020-12-27        1331064
2020-12-28        1128468
2020-12-29        1153796
2020-12-30        1616870

[358 rows x 1 columns]

In [109]:
pivot_table.head(10)

              Total_Sales
invoice_date
2020-01-01        1690282
2020-01-02        1378820
2020-01-03        1265146
2020-01-04        1230160
2020-01-05        1415658
2020-01-06        1311500
2020-01-07        1754352
2020-01-08        1336168
2020-01-09         403658
2020-01-10         400938

In [110]:
# Resample the pivot table into daily bins, and get the total sales for each day.
sales_daily = pivot_table.resample('D').sum()

# Sort the pivot table by total sales in descending order
sorted_sales_daily = sales_daily.sort_values(by='Total_Sales', ascending=False)

# Select the top 10 days
top_10_days = sorted_sales_daily.head(10)

#Display the resampled pivot table
print(top_10_days)

# Find the day with the maximum sales
max_sales_day = sales_daily.idxmax()
max_sales_value = sales_daily.max()

# Display the day with the most sales and the sales amount
print(f"The day with the most sales is {max_sales_day[0].date()} with total sales of {max_sales_value[0]:.2f}")

              Total_Sales
invoice_date
2020-04-24       14101964
2020-05-24        7172882
2020-04-27        2608050
2020-04-19        2604690
2020-02-06        2537736
2020-03-10        2527670
2020-04-26        2512136
2020-05-03        2502192
2020-03-04        2359634
2020-09-10        2308966
The day with the most sales is 2020-04-24 with total sales of 14101964.00

C:\Users\dixon\AppData\Local\Temp\ipykernel_1552\498029045.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"The day with the most sales is {max_sales_day[0].date()} with total sales of {max_sales_value[0]:.2f}")

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [111]:
# Resample the pivot table into weekly bins, and get the total sales for each week.

sales_weekly = pivot_table.resample('W').sum()

# Sort the pivot table by total sales in descending order
sorted_sales_weekly = sales_weekly.sort_values(by='Total_Sales', ascending=False)

# Select the top 10 days
top_10_weeks = sorted_sales_weekly.head(10)

#Display the resampled pivot table
print(top_10_weeks)

# Find the week with the maximum sales
max_sales_week = sales_weekly.idxmax()
max_sales_value = sales_weekly.max()

# Display the week with the most sales and the sales amount
print(f"The week with the most sales is {max_sales_week[0].date()} with total sales of {max_sales_value[0]:.2f}")

              Total_Sales
invoice_date
2020-04-26       26331646
2020-05-03       14699084
2020-03-15       13439494
2020-09-13       13019306
2020-02-09       12469902
2020-05-24       11836642
2020-03-08       11543130
2020-02-02       10706378
2020-08-23       10462180
2020-08-02       10206778
The week with the most sales is 2020-04-26 with total sales of 26331646.00

C:\Users\dixon\AppData\Local\Temp\ipykernel_1552\3581348059.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"The week with the most sales is {max_sales_week[0].date()} with total sales of {max_sales_value[0]:.2f}")