In [2]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [3]:
# Read the CSV files into DataFrames.
# Reading the CSV files
athletic_sales_2020_df = pd.read_csv('athletic_sales_2020.csv')
athletic_sales_2021_df = pd.read_csv('athletic_sales_2020.csv')

In [4]:
# Display the 2020 sales DataFrame

print(athletic_sales_2020_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [5]:
# Display the 2021 sales DataFrame
print(athletic_sales_2021_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

#### Check the data types of each DataFrame

In [6]:
# Check the 2020 sales data types.

print(athletic_sales_2020_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [7]:
# Check the 2021 sales data types.
print(athletic_sales_2021_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [8]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

combined_df = pd.concat([athletic_sales_2021_df, athletic_sales_2021_df], axis=0)

# Resetting the index
combined_df.reset_index(drop=True, inplace=True)

# Displaying the first few rows of the combined DataFrame
print(combined_df.head())

# Checking the shape of the combined DataFrame
print(f"Combined DataFrame shape: {combined_df.shape}")

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet
Combined DataFrame shape: (2594, 12)

In [9]:
# Check if any values are null.
null_values = combined_df.isnull().sum()
print("Null values in each column:")
print(null_values)

# Displaying columns with any null values
print("\nColumns with any null values:")
print(null_values[null_values > 0])

Null values in each column:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

Columns with any null values:
Series([], dtype: int64)

In [10]:
# Check the data type of each column
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [11]:
# Convert the "invoice_date" to a datetime datatype

combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Formatting the "invoice_date" column to mm/dd/yyyy
combined_df['invoice_date'] = combined_df['invoice_date'].dt.strftime('%m/%d/%Y')

C:\Users\dixon\AppData\Local\Temp\ipykernel_15820\241911.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [12]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.dtypes)

# Displaying the first few rows of the DataFrame to verify the conversion
print(combined_df.head())

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732   01/01/2020  Northeast      New York
1  Foot Locker      1185732   01/01/2020  Northeast  Pennsylvania
2  Foot Locker      1185732   01/01/2020  Northeast  Pennsylvania
3  Foot Locker      1185732   01/01/2020  Northeast      New York
4  Foot Locker      1185732   01/01/2020  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [13]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
grouped_df = combined_df.groupby(['region', 'state', 'city']).agg(
    Total_Products_Sold=('units_sold', 'sum')
).reset_index()

# Show the top 5 results.
grouped_df.head()

      region         state          city  Total_Products_Sold
0    Midwest     Minnesota   Minneapolis                40830
1  Northeast      New York      New York               223908
2  Northeast  Pennsylvania  Philadelphia                 6114
3      South         Texas       Houston               180644
4  Southeast       Florida         Miami               146270

#### Using `pivot_table`

In [14]:
# Creating a pivot table to show the number of products sold for each region, state, and city
pivot_table = pd.pivot_table(
    combined_df,
    values='units_sold',  
    index=['region', 'state', 'city'],
    aggfunc='sum'
).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)
# Sorting the pivot table by "Total_Products_Sold" in descending order
pivot_table = pivot_table.sort_values(by='Total_Products_Sold',ascending=False)

# Show the top 5 results.
top_5_results = pivot_table.head(5)
print(top_5_results)

      region       state       city  Total_Products_Sold
1  Northeast    New York   New York               223908
3      South       Texas    Houston               180644
4  Southeast     Florida      Miami               146270
7       West      Nevada  Las Vegas               103662
8       West  Washington    Seattle                93222

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [18]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Group by 'Region', 'State', and 'City' and calculate sum of 'Total Sales'
grouped_region_state_city = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the aggregated column to 'Total Sales'
grouped_region_state_city = grouped_region_state_city.rename(columns={'total_sales': 'Total Sales'})

# Sort the results by 'Total Sales' descending and show the top 5
top_5_results = grouped_region_state_city.sort_values(by='Total Sales', ascending=False).head(5)

# Show the top 5 results.
print(top_5_results)

      region       state      city  Total Sales
1  Northeast    New York  New York     79602470
4  Southeast     Florida     Miami     63201726
8       West  Washington   Seattle     52661436
3      South       Texas   Houston     50913764
6       West    Colorado    Denver     41993072

#### Using `pivot_table`

In [20]:
# Show the total sales for the products sold for each region, state, and city.

# Create a pivot table to aggregate Total Sales by Region, State, and City
pivot_table = pd.pivot_table(combined_df, 
                             values='total_sales', 
                             index=['region', 'state', 'city'], 
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Sort the pivot table by 'Total Sales' descending and show the top 5
top_5_results = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)


# Show the top 5 results.
print(top_5_results)

                               Total Sales
region    state      city
Northeast New York   New York     79602470
Southeast Florida    Miami        63201726
West      Washington Seattle      52661436
South     Texas      Houston      50913764
West      Colorado   Denver       41993072

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [21]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Group by 'Retailer', 'Region', 'State', and 'City' and sum 'Total Sales'
grouped4 = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the 'Total Sales' column to 'Total Sales' (optional if needed)
grouped4 = grouped4.rename(columns={'total_sales': 'Total Sales'})

# Sort the results by 'Total Sales' descending and show the top 5
top_5_results = grouped4.sort_values(by='Total Sales', ascending=False).head(5)

# Show the top 5 results.
print(top_5_results)

       retailer     region       state       city  Total Sales
1   Foot Locker  Northeast    New York   New York     50017136
17    West Gear       West  Washington    Seattle     49725350
15    West Gear       West    Colorado     Denver     41993072
16    West Gear       West      Nevada  Las Vegas     41717018
10      Walmart      South       Texas    Houston     38345990

#### Using `pivot_table`

In [23]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Create a pivot table to aggregate Total Sales by 'Retailer', 'Region', 'State', and 'City'
pivot_table = pd.pivot_table(combined_df, 
                             values='total_sales', 
                             index=['retailer', 'region', 'state', 'city'], 
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Sort the pivot table by 'Total Sales' descending and show the top 5
top_5_results = pivot_table.sort_values(by='Total Sales', ascending=False).head(5)


# Show the top 5 results.
print(top_5_results)

                                            Total Sales
retailer    region    state      city
Foot Locker Northeast New York   New York      50017136
West Gear   West      Washington Seattle       49725350
                      Colorado   Denver        41993072
                      Nevada     Las Vegas     41717018
Walmart     South     Texas      Houston       38345990

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [27]:
# Filter the sales data to get the women's athletic footwear sales data.

womens_athletic_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

print(womens_athletic_sales.head())

       retailer  retailer_id invoice_date     region         state  \
21  Foot Locker      1185732   01/04/2020  Northeast      New York
22  Foot Locker      1185732   01/04/2020  Northeast      New York
23  Foot Locker      1185732   01/04/2020  Northeast      New York
26    West Gear      1128299   01/05/2020  Northeast  Pennsylvania
27    West Gear      1128299   01/05/2020  Northeast  Pennsylvania
29    West Gear      1128299   01/05/2020  Northeast  Pennsylvania
54    West Gear      1128299   01/11/2020       West        Nevada
55    West Gear      1128299   01/11/2020       West        Nevada
56    West Gear      1128299   01/11/2020       West        Nevada
72    West Gear      1128299   01/17/2020       West        Nevada

            city                    product  price_per_unit  units_sold  \
21      New York  Women's Athletic Footwear              36         281
22      New York  Women's Athletic Footwear              41         247
23      New York  Women's Athletic Footwear              45         850
26  Philadelphia  Women's Athletic Footwear              45         300
27  Philadelphia  Women's Athletic Footwear              34          90
29  Philadelphia  Women's Athletic Footwear              43          87
54     Las Vegas  Women's Athletic Footwear              45         275
55     Las Vegas  Women's Athletic Footwear              30          85
56     Las Vegas  Women's Athletic Footwear              44          74
72     Las Vegas  Women's Athletic Footwear              50          84

    total_sales  operating_profit sales_method
21        10116           3742.92       Outlet
22        10127           4658.42       Online
23       382500         133875.00     In-store
26       135000          47250.00       Outlet
27         3060           1254.60       Outlet
29         3741           1870.50       Online
54       123750          43312.50       Outlet
55         2550           1045.50       Outlet
56         3256           1497.76       Online
72         4200           1974.00       Online

#### Using `groupby`

In [31]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Group by 'Retailer', 'Region', 'State', and 'City' and sum 'Units Sold'
grouped5 = combined_df.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the 'Units Sold' column to 'Womens_Footwear_Units_Sold'
grouped5 = grouped5.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sort the results by 'Womens_Footwear_Units_Sold' descending and show the top 5
top_5_results = grouped5.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Show the top 5 results.
print(top_5_results)

       retailer     region       state       city  Womens_Footwear_Units_Sold
1   Foot Locker  Northeast    New York   New York                      144392
10      Walmart      South       Texas    Houston                      130144
16    West Gear       West      Nevada  Las Vegas                      103662
17    West Gear       West  Washington    Seattle                       84524
15    West Gear       West    Colorado     Denver                       82756

#### Using `pivot_table`

In [32]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.

# Create a pivot table to aggregate 'Units Sold' by 'Retailer', 'Region', 'State', and 'City'
pivot_table = pd.pivot_table(combined_df,
                             values='units_sold',
                             index=['retailer', 'region', 'state', 'city'],
                             aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sort the pivot table by 'Womens_Footwear_Units_Sold' descending and show the top 5
top_5_results = pivot_table.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

# Show the top 5 results.
print(top_5_results)

                                            Womens_Footwear_Units_Sold
retailer    region    state      city
Foot Locker Northeast New York   New York                       144392
Walmart     South     Texas      Houston                        130144
West Gear   West      Nevada     Las Vegas                      103662
                      Washington Seattle                         84524
                      Colorado   Denver                          82756

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [48]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.

pivot_table = pd.pivot_table(combined_df, 
                             values='total_sales', 
                             index='invoice_date', 
                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Show the table.
print(pivot_table)

              Total Sales
invoice_date
01/01/2020        1690282
01/02/2020        1378820
01/03/2020        1265146
01/04/2020        1230160
01/05/2020        1415658
...                   ...
12/26/2020        1121956
12/27/2020        1331064
12/28/2020        1128468
12/29/2020        1153796
12/30/2020        1616870

[358 rows x 1 columns]

In [41]:
pivot_table.head()

              total_sales
invoice_date
01/01/2020        1690282
01/02/2020        1378820
01/03/2020        1265146
01/04/2020        1230160
01/05/2020        1415658

In [1]:
# Resample the pivot table into daily bins, and get the total sales for each day.
pivot_table = pivot_table.resample('D').sum()

# Sort the resampled pivot table in ascending order on "shape".
pivot_table.sort_values(by="shape", ascending=False).head(10)

NameError: name 'pivot_table' is not defined

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in descending order on "Total Sales".

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602